@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

:root {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@theme {
  --color-axolotl: #5a6d57;
  --color-smoky-black: #0C0C0C;
  --color-black-olive: #404040;

  /** Spacing */
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-4: 0.25rem;
  --spacing-6: 0.375rem;
  --spacing-8: 0.5rem;
  --spacing-9: 0.5625rem;
  --spacing-10: 0.625rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-48: 3rem;
  --spacing-52: 3.25rem;
  --spacing-54: 3.375rem;
  --spacing-64: 4rem;
  --spacing-80: 5rem;
  --spacing-104: 6.5rem;
  --spacing-container: 76.5rem;

  --tracking-2: 0.1em;

  /** Font */
  --font-8: 0.5rem;
  --font-10: 0.625rem;
  --font-12: 0.75rem;
  --font-14: 0.875rem;
  --font-16: 1rem;
  --font-18: 1.125rem;  
  --font-20: 1.25rem;
  --font-32: 2rem; 

  /** Text  */
  --text-7.5: 0.4375rem;
  --text-8: 0.5rem;
  --text-10: 0.625rem;
  --text-12: 0.75rem;
  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-18: 1.125rem;  
  --text-20: 1.25rem;
  --text-24: 1.5rem;
  --text-32: 2rem; 

  /** Animation */
  --animate-fade-in-scale: fade-in-scale 0.5s ease-in-out;

  /** Keyframe */
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
